.contenedor {
    border: 2px dashed #DDD;
    padding: 5px 20px;
    border-radius: 25px;
    background-color: #b9ffe1;
    color: #002d2c;
    font-family:Arial, Helvetica, sans-serif;
    width: 600px;
    margin: auto;
}

body {
    background-color: #253e37;
}